/* styles.css */
ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	li a
	{
		display: block;
		float: left;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	li a:hover 
	{
		background-color: #111;
	}	
	.img_deg
	{
		float: right;
		width: 50%;
	}
	.pos_cen
	{
		position: absolute;
		width: 70%;
		left: 10%;
	}
	#txt_style
	{
		text-align:center;
	}